.navbar-home {
    position: absolute;
    top: 26px;
    right: 10%;
}
.navbar-logo {
    position: static;
    top: 26px;
    left:-20%;
}

h1 {
    text-size-adjust: 20px;
}
hr {
    margin: 1rem 0;
    color: #C2AA29;
    background-color: currentColor;
    border: 5px;
    border-style: solid;
    opacity: 0.25;
}

body {
    background-image: url("bg1.png");
}